{% extends "layout.html" %}

{% block title %}
    curated playlists
{% endblock %}

{% block main %}
    <head>
        <title>Curated Playlists</title>
    </head>
    <body>
        <div>
            <h1 style="margin-top:10px; width:650px">main character moment</h1>
            <p style="margin-top: 0px; margin-bottom:25px; margin-left:175px; margin-right:175px; text-align:left">because sometimes life feels like a movie</p>
            <iframe style="border-radius:20px" src="https://open.spotify.com/embed/playlist/4NS1k7OKElYwvzSdZosYpB?utm_source=generator" width="75%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
        <div>
            <h1 style="width:600px">sad girl starter pack</h1>
            <p style="margin-top: 0px; margin-bottom:25px; margin-left:175px; margin-right:175px; text-align:left">because sometimes you just feel heartbroken</p>
            <iframe style="border-radius:20px" src="https://open.spotify.com/embed/playlist/7cqoojFJDKon47vowRXDMv?utm_source=generator&theme=0" width="75%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
        <div>
            <h1 style="width:550px">2000's dance party</h1>
            <p style="margin-top: 0px; margin-bottom:25px; margin-left:175px; margin-right:175px; text-align:left">because sometimes you just feel like dancing</p>
            <iframe style="border-radius:20px" src="https://open.spotify.com/embed/playlist/1OEpcZyMAKP3ChqlSTvlwS?utm_source=generator&theme=0" width="75%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
        <div>
            <h1 style="width:350px">road trip</h1>
            <p style="margin-top: 0px; margin-bottom:25px; margin-left:175px; margin-right:175px; text-align:left">a little something to make those long drives into great memories</p>
            <iframe style="border-radius:20px" src="https://open.spotify.com/embed/playlist/7M17PiEYDiHsMKrtjkLReo?utm_source=generator&theme=0" width="75%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
        <div>
            <h1 style="width:300px">the hits</h1>
            <p style="margin-top: 0px; margin-bottom:25px; margin-left:175px; margin-right:175px; text-align:left">check out the top 22 songs of 2022</p>
            <iframe style="border-radius:20px" src="https://open.spotify.com/embed/playlist/1dlFMf4fFcq06BiGLtWJsV?utm_source=generator&theme=0" width="75%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
    </body>
{% endblock %}